:root {
  font-family: 'Quantico', sans-serif;
  color: white;
}

html {
  height: 100%;
  /* background-color: lightcoral; */
  background-color: rgb(9, 27, 36);
}

body {
  margin: 0;
  min-height: 100%;
}

.homeTopBackground {
  margin: 0;
  padding: 0;
  background-image: url('./images/backgroundportfolio.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  min-height: 840px;
  border-bottom: thin grey solid;
  position: relative;
}

.titleInfo {
  position: absolute;
  bottom: 100px;
  right: 80px;
}



.topNav {
  display: flex;
  justify-content: flex-end;
  /* border: solid blue 2px; */
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25rem;
}

.navLink {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

.navLink:hover {
  color: rgb(10, 197, 172);
}

.navLink:active {
  color: rgb(9, 117, 103);
}

p {
  line-height: 0.4;
}

.name {
  font-family: 'Quantico', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 70px;

}


.title {
  font-family: 'Quantico', sans-serif;
font-size: 37px;
margin-left: 1px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsTable {
  /* border: solid orange 2px; */
  display: flex;
  margin-bottom: 5rem;
}

.projectsTitle {
  font-size: 40px;
  /* border: solid pink 2px; */
}

.projBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  background-color: rgb(9, 53, 54);
  /* border: solid rgb(38, 75, 64); */
  border: thin grey solid;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 25px;
  font-family: sans-serif;
}

.projectBox {
  /* list-style: none; */
}

.skillsTable {
  /* border: solid orange 2px; */
  display: flex;
  margin-bottom: 5rem;
  width: 50%;
}

.skillsBox {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(9, 53, 54);
  /* border: solid rgb(38, 75, 64); */
  border: thin grey solid;
  border-radius: 2px;
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: sans-serif;


  width: 100%;
  /* border: solid red 4px; */
}



.skillsColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  /* border: solid pink 2px; */
  padding-bottom: 2rem;


}

.innerList {
  text-align: left;
  margin-left: -30px;
  list-style: disc;
}

.skillTitle {
  font-size: 30px;
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}

.extraMargin {
  margin-left: 60px;
}


.aboutMeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid grey thin;
  border-bottom: solid grey thin;
  width: 100%;
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgb(4, 14, 22);
  padding-bottom: 10rem;
}

.aboutHeader {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  /* border: solid orange 3px; */
  width: 100%;
  font-size: 40px;
}

.aboutMeText {
  line-height: 1;
  font-family: sans-serif;
}

.aboutSection {
  display: flex;
  justify-content: center;
  width: 60%;
}

.meImg {
  border: solid grey 2px;
  border-radius: 5px;
  box-shadow: grey 2px 0 2px 2px;
}

.contactSection {
  display: flex;
  justify-content: center;
  /* border: solid white 2px; */
  align-items: center;
}

#contactTarget {
  margin-top: 10rem;
  font-size: 40px;
}

.iconTable {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: -10px;
}

.test {
  padding-top: 46rem;
  color: white;
  font-size: 20px;
}

.linkSeparator {
  margin-top: 20px;
}

.projectLink {
  /* text-decoration: none; */
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* justify-content: center;
  text-align: center;
  display: flex; */

}

.projectLink:hover {
  color: rgba(255, 255, 255, 0.699);
  text-decoration: underline;
  
}

.projectLink:active {
  color: rgba(255, 255, 255, 0.499);
  
}

.resumeContainer {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.resumeButton {
  font-size: 40px;
  color: white;
  text-decoration: none;
  border: solid white 2px;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
}

.resumeButton:hover {
  color: rgba(255, 255, 255, 0.699);
}

.resumeButton:active {
  color: rgba(255, 255, 255, 0.499);

}


/* test */

ul.tt-socail {
  padding: 0;
  padding-top: 10px;
  display: flex;
  align-items: center;
  }

  .tt-socail li {
  display: inline-block;
  margin-right: 10px;
  }
  .tt-socail a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 17px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  -moz-border-radius: 100%;
  border-radius: 100%;
  }

  .footerBox {
    margin-bottom: 2rem;
  }

  .fa:hover {
    opacity: 0.6;
  }

  .fa:active {
    opacity: 0.3;
  }

  .fa-mail {
    content: url('./images/mail.png');
    height: 18px;
    margin-bottom: -10px;
  }

  .fa-github {
    content: url('./images/octocat.png');
    height: 23px;
    margin-bottom: -14px;

  }

  .fa-linkedin {
    content: url('./images/li.png');
    height: 20px;
    margin-bottom: -10px;

  }

  .fa-medium {
    content: url('./images/medium.png');
    height: 22px;
    margin-bottom: -12px;

  }

  h5 {
    text-align: center;
    margin-left: -8px;
    margin-bottom: 10px;
  }